<p>Item</p>

<div class="mat-tab-body-content ng-trigger ng-trigger-translateTab" style="transform: none;">
  <!---->
  <div class="m-16 ng-star-inserted" style="">
    <mat-card class="w-40">
      <img
        alt=""
        class="d-block w-full"
        src="https://images.theconversation.com/files/243439/original/file-20181101-83635-1xcrr39.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=926&fit=clip"
      />
    </mat-card>
    <h3>Name :</h3>
    <p>
      Fusce
    </p>
    <h3>Description :</h3>
    <p>
      Fusce bibendum augue nec fermentum tempus. Sed laoreet dictum tempus. Aenean ac sem quis nulla
      malesuada volutpat. Nunc vitae urna pulvinar velit commodo cursus. Nullam eu felis quis diam
      adipiscing hendrerit vel ac turpis.
    </p>
    <h3>Price :</h3>
    <p>
      200$
    </p>
  </div>
  <!---->
</div>
